@using LexicalClient.Models;
@model Word;
<h1>All Words:</h1>

<ol>

    <ul>
        <li>Word: @Model.name</li>
        <li>Rating: @Model.rating</li>
        <li>Rating Count: @Model.ratingCount</li>
    </ul>

</ol>

<button class="btn btn-default">@Html.ActionLink("Add a word", "Rating", new {style = "color:white"})</button>
<button class="btn btn-default">@Html.ActionLink("Back To Home", "Index", new {style = "color:white"})</button>
