@using LexicalClient.Models;
@using Microsoft.AspNetCore.Mvc.Rendering; 
@model Word;
@{
var r = ViewBag.rating as List<SelectListItem>;
}
<h1>Add a word and rate it!</h1>
<p>Rate your word with the emoji's reflecting how it makes you feel.</p>

@using (Html.BeginForm())
{
    @Html.Label("Word", "Word: ")
    @Html.TextBoxFor(model => model.name)
    <br>
    @Html.Label("rating", "Rating: ")
    @Html.DropDownListFor(model => model.rating, r,"--Rating--")
    @Html.HiddenFor(model => model.ratingCount, new {Value="1"});
    <button type="submit" class="btn btn-info">Add Rating</button>
}
<button class="btn btn-default">@Html.ActionLink("Back To Home", "Index", new {style = "color:white"})</button>